<br>
<div class="panel panel-default">
    <div class="panel-heading">
       <h4><b>Administración de recursos</b></h4>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <div ui-grid="recursosAdministracion.gridOptionsRecursos" ui-grid-selection ui-grid-auto-resize class="col-md-10 col-md-offset-1">
            </div>
            
            <div class="col-md-12" align="center">
                <br><br>
                <button type="button" class="btn btn-success" ng-click="agregar_padre()">Agregar recurso padre</button> 
            </div>
        </div>
    <div>

        </div>
    </div>
    <div class="panel-footer">
    </div>
</div>